/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 
  #root, #__next {
    isolation: isolate;
  }

:root {
    /* primary colors*/
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    /* Neutral colors*/
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    /* body fontsize */
    --font-size-small: 12px;
    --font-size-large: 28px;
    /* font */
    --font-weight: 800;
}

body{
    font-family: Manrope, sans-serif;
    font-weight: var(--font-weight);
    font-size: var(--font-size-large);
    background-color: var(--Dark-Blue);
    color: var(--Light-Cyan);
    margin: 6rem 0.875rem;
    text-align: center;
    position: relative;
}

.container{
    background-color: var(--Dark-Grayish-Blue);
    padding: 2rem .8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
h1 {
    color: var(--Neon-Green);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    letter-spacing: 0.3rem;
    margin-bottom: 20px;
}
.advice-content{
    margin-bottom: 20px;
    
}

#pattern-divider{
   margin-bottom: 2rem;
}
.circle{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--Neon-Green);
    position: absolute;
    left: 40%;
    top: 90%;
}
.circle:active{
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    
}
@media (min-width: 375px) {
    .circle {
      top: 87%;
      left: 50%;
    }
  }
.circle img{
    position: absolute;
    top: 34%;
    left: 30%;
}
